{% extends 'indexussd.html' %}

{% block content %}
{% load static %}


<script  src="{% static 'assets/pjs/customers.js' %}"></script><!-- CUSTOM FUCTIONS  -->
{% csrf_token %}
<input type="hidden" id="hdncsrf" name="hdncsrf" value="{{ csrf_token }}">
<!-- BEGIN #content -->
<div id="content" class="app-content">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row justify-content-center">
            <!-- BEGIN col-10 -->
            <div class="col-xl-16">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-9 -->
                    <div class="col-xl-16">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Customers</a></li>
                            <li class="breadcrumb-item active">Mobile Customers Viewer</li>
                        </ul>
                        
                        <h1 class="page-header">
                            <p>Search/identify Customer data to process...</p>
                        </h1>

                            
                        
                        <hr class="mb-4" />
                        
                        <!-- BEGIN #datatable -->
                        <div id="datatable" class="mb-5">
                            
                            <div class="card">
                                <div class="card-body">
                                    <table id="datatableDefault" class="table text-nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>ID Number</th>
                                                <th>Names</th>
                                                <th>Mobile Number</th>
                                                <th>Account Number</th>
                                                <th>IsActive</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in Reports %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ data.IDNo }}</td>
                                                <td>{{ data.Names }}</td>
                                                <td>{{ data.MobileNo }}</td>
                                                <td>{{ data.PB_AccNo }}</td>
                                                <td>{{ data.IsActive }}</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" 
                                                                id="actionDropdown{{ data.ReportId }}" 
                                                                data-bs-toggle="dropdown" 
                                                                aria-expanded="false">
                                                            Actions
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="actionDropdown{{ data.ReportId }}">
                                                            {% if data.IsActive == 0 %}
                                                            <li><a class="dropdown-item" href="#" onclick="ActivateCustomer('{{ data.IDNo }}'); return false;">
                                                                <i class="fa fa-eye me-2"></i> Activate Customer
                                                            </a></li>
                                                            {% endif %}

                                                            <li><a class="dropdown-item" href="#" onclick="ResetPassword('{{ data.IDNo }}'); return false;">
                                                                <i class="fa fa-eye me-2"></i> Reset Password
                                                            </a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-arrow">
                                    <div class="card-arrow-top-left"></div>
                                    <div class="card-arrow-top-right"></div>
                                    <div class="card-arrow-bottom-left"></div>
                                    <div class="card-arrow-bottom-right"></div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- END #datatable -->
                        
                        <!-- BEGIN #bootstrapTable -->
                    
                        <!-- END #bootstrapTable -->
                    </div>
                    <!-- END col-9-->
                    <!-- BEGIN col-3 -->
                    
                    <!-- END col-3 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END col-10 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END #content -->
{% endblock %}