{% extends 'indexreport.html' %}

{% block content %}
{% load static %}


<script  src="{% static 'assets/pjs/reports.js' %}"></script><!-- CUSTOM FUCTIONS  -->


<!-- BEGIN #content -->
<div id="content" class="app-content">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row justify-content-center">
            <!-- BEGIN col-10 -->
            <div class="col-xl-16">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-9 -->
                    <div class="col-xl-16">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Reports</a></li>
                            <li class="breadcrumb-item active">Plutus Report Viewer</li>
                        </ul>
                        
                        <h1 class="page-header">
                            <p>Find and launch the report you need</p>
                        </h1>

                            
                        
                        <hr class="mb-4" />
                        
                        <!-- BEGIN #datatable -->
                        <div id="datatable" class="mb-5">
                            
                            <div class="card">
                                <div class="card-body">
                                    <table id="datatableDefault" class="table text-nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Report Group</th>
                                                <th>Report Name</th>
                                                <th>Description</th>
                                                <th>Object Name</th>
                                                <th>Report Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for group in grouped_reports %}
                                            <tr class="group-row" data-bs-toggle="collapse" data-bs-target="#group-{{ forloop.counter }}" style="cursor: pointer;">
                                                <td></td>
                                                <td><i class="fa fa-chevron-right me-2"></i>{{ group.grouper }}</td>
                                                <td colspan="5"></td>
                                            </tr>
                                            <tbody id="group-{{ forloop.counter }}" class="collapse">
                                                {% for data in group.list %}
                                                <tr>
                                                    <td>{{ data.ReportId }}</td>
                                                    <td></td>
                                                    <td>{{ data.ReportName }}</td>
                                                    <td>{{ data.ReportDescription }}</td>
                                                    <td>{{ data.SPObjectName }}</td>
                                                    <td>{{ data.isActive }}</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" 
                                                                    id="actionDropdown{{ data.ReportId }}" 
                                                                    data-bs-toggle="dropdown" 
                                                                    aria-expanded="false">
                                                                Actions
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="actionDropdown{{ data.ReportId }}">
                                                                <li><a class="dropdown-item report-action-link" href="#" onclick="ActionUser('{{ data.ReportId }}'); return false;">
                                                                    <i class="fa fa-eye me-2"></i> View Report
                                                                </a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-arrow">
                                    <div class="card-arrow-top-left"></div>
                                    <div class="card-arrow-top-right"></div>
                                    <div class="card-arrow-bottom-left"></div>
                                    <div class="card-arrow-bottom-right"></div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- END #datatable -->
                        
                        <!-- BEGIN #bootstrapTable -->
                    
                        <!-- END #bootstrapTable -->
                    </div>
                    <!-- END col-9-->
                    <!-- BEGIN col-3 -->
                    
                    <!-- END col-3 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END col-10 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END #content -->
{% endblock %}
